* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f3f3;
}

a {
  text-decoration: none;
  color: #f7f3f3;
}

a:hover {
  color: black;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

h1 {
  text-align: center;
}

/* To move to component style when created */
.marked {
  background-color: #e2dbdb;
}
